@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Bebas Neue', cursive;
}


body{
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 300%;
    animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }